{% extends 'base.html.twig' %}

        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('adminApp') }}
        {% endblock %}

{% block title %}Admin - Home{% endblock %}

{% block body %}
<div id="admin-app">
    <h1>Hallo Customer !!</h1>
</div>
{% endblock %}
